body {
  background-color: #464646;
}

h1 {
  color: ghostwhite;
  font-family: arial;
  font-size: 24px;
  font-weight: bolder;
}

p {
  color: ghostwhite;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
}

a {
  color: #76D7C4;
}

#logoimg {
  vertical-align: middle;
}

.header {
  background-color: #252525;
  background-blend-mode: darken;
  float: left;
}
  
