body {
  background-color: #464646;
}

h1 {
  color: ghostwhite;
  font-family: arial;
  font-size: 24px;
  font-weight: bolder;
  opacity: 1;
}

p {
  color: ghostwhite;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
}

a {
  color: #76D7C4;
}

#logoimg {
  vertical-align: middle;
  opacity: 1;
}

.header {
  background-color: black;
  background-blend-mode: darken;
}
  
